@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
    font-family: 'Poppins', sans-serif;
}

nav img{
    height: 130px;
    width: 105px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #f8f9fa;
   /** border-style: solid;
    border-color: #000000;**/
    Height: 100px;
    background-color: #a19d9dbe;
    color: white;
    position: relative;
    z-index: 2;
}
#logo{
   /* border-style: solid;
    border-color: #000000;*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 300px;
    margin-left: 0;
}

#nav{
   /* border-style: solid;
    border-color: #000000;*/
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;   
    margin-right: 35%; 
    
    
}


#nav ul{
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  gap: 100px;
  font-size: 25px;
  color: white;
}
.video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.videoContainer{
    position: relative;
    height: 80vh;
    overflow: hidden;
    /*border-style: solid;*/
    margin-top: -100px; /*Arreglar que el video este detras del navBar*/
}

.container{
  /*  border-style: solid;*/
    height:75vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.purple{
color: #7D4191;
font-size: 27px;
font-weight: 1;
}
.grand{
color: #363636;
font-size: 45px;
font-weight: lighter;
}

.parrafo{
    font-size: 30px;
    font-weight: lighter;
}

.parrafo2{
    font-size: 30px;
    color: #7D4191;
    font-weight: lighter;
    box-shadow: #363636;
}

.parrafo3{
    font-size: 15px;
    color: #363636;
    font-weight: lighter;
}

.container2{
   /* border-style: solid;*/
    width: 50%;
    margin: 2.7%;
    height: 80%;

}
.container3{
/*border-style: solid;*/
width: 50%;
margin-right: 2.7%;
margin-bottom: 2.7%;
}

main{
    display: flex;
    justify-content: space-between;
    align-items: center;

    
}
main img{
width: 250px;
height: 600px;
border-radius: 20px;
z-index: 2;
}

#img1{
    margin-top: 25%;
    position: absolute;
}

#img2{
    margin-top: 36%;
    position: absolute;
    margin-left: 15%;
}

#img3{
    margin-top: 25%;
    position: absolute;
    margin-left: 30%;
}




